.navigationBar {
    margin: 0 auto;
    padding: 10px;
    background-color: whitesmoke;
}
.navLink {
    text-decoration: none;
    margin: 0;
    padding: 10px;
    color: black;
}
.navLink:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.activeNavLink {
    border-bottom: 2px solid blue;
}